.mensagemRetangulo {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    display: flex;
    max-width: 80%;
  }

  .mensagemTexto {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
  }
  
  .mensagemTexto img {
    vertical-align: middle;
  }
  
  .containerMensagem {
    display: flex;
    justify-content: flex-end;
    padding: 0 2%;
    margin-top: 3px;
  }
  
  .textoEnviado {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
  }
  .hora{
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 12px;
    opacity: 80%; 
  }
  .pl-10 {
    padding-left: 10px;
  }
  
  .pr-10 {
    padding-right: 10px;
  }
  
  .justifyStart {
    justify-content: flex-start;
  }
  
  .justifyEnd {
    justify-content: flex-end;
  }
  
  .colorWhite {
    color: white;
  }
  
  .colorDark {
    color: #353535;
  }
  
  .backgroundBlue {
    background: #2979FF;
  }
  
  .backgroundLight {
    background: #dbdbdb;
  }